.inspector {
  // top-down, left, right
  padding: 0.5rem .7rem 0;

  .generalTitle {
    font-size: 18px;
    font-weight: bold;
  }

  .shapeTitle {
    font-size: 16px;
    font-weight: 500;
  }

  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  gap: 10px;

  input {
    height: 30px;
    outline: none;
    outline: 2px solid gray;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
  }

  .table-container {
    width: 100%;

    .table {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-collapse: collapse;
      
      .tBody {
        width: 100%;

        .tHeadRow {
        padding-top: 1rem;
      }
      
      .tData,
      .tRow {
        width: 100%;
      }
      }
    }
  }
}
